<%= form_for @post do |f| %>
  <dl>
    <dt><%= f.label :title %></dt>
    <dd>
      <%= f.text_field :title, :autofocus => @post.new_record?, :required => true %>
      <%= form_errors_for f, :title %>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%= f.text_field :slug, :placeholder => "(auto generated)" %>
      <%= form_errors_for f, :slug %>
    </dd>

    <dt><%= f.label :markdown %></dt>
    <dd>
      <%= f.text_area :markdown %>
      <%= form_errors_for f, :markdown %>
    </dd>

    <dt><%= f.label :published_at %></dt>
    <dd>
      <%= f.text_field :published_at %>
      <%= form_errors_for f, :published_at %>
    </dd>

  </dl>

  <p>
    <% if @post.draft? %>
      <%= f.submit "Save as draft", :name => 'save' %>
      <%= f.submit "Publish", :name => 'publish' %>
    <% else %>
      <%= f.submit "Save", :name => 'save' %>
      <%= f.submit "Unpublish", :name => 'unpublish' %>
    <% end %>
  </p>
<% end %>
